<!-- header -->
 <%- include("partials/header.ejs") %>


<form action="/submit" method="post">

    <span class="pwd">Password</span> <input type="text" name="psdw">
    <button class="btn" type="submit">GOOOOO</button>
</form>